h1 {
    text-align: center;
    padding: 20px;
    float: right;
}

.jumbotron {
    width: 500px;
    background: #6d73c9;
    margin: 20px;
    float: left;

}

#display {
    width: 400px;
    height: 100px;
    background: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 60px;
    font-family: monospace;
    text-align: right;
    overflow: hidden;
}

.number {
    padding: 30px;
    margin: 10px;
    font-size: 30px;
}

.operator {
    padding: 22px;
    margin: 10px;
    font-size: 30px;
    width: 60px;

}

.bottomRow {
    width: 125px;
}

#clear {
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    width: 60px;
    text-align: center;
}

#equals,
#decimal {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
}